.card-list-title{
  float: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 10px 0 50px;
}

.CardList .rec .rec-arrow:disabled {
  visibility: hidden;
}

.CardList .rec-arrow:hover:enabled, .rec-arrow:focus:enabled{
  color: black!important;
  background-color: transparent!important;
  box-shadow: none!important;
}

.CardList .rec.rec-arrow{
  background-color: transparent;
  border: none;
  box-shadow: none;
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 1px;
}

.CardList .rec.rec-arrow-left{
  padding-right: 10px;
}

.CardList .rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
} 
.CardList .rec-dot{
  display: none;
}