.card-list-title{
  float: left;
  font-size: 40px;
  margin: 0px 0 0 50px;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.chowzb:hover:enabled, .chowzb:focus:enabled{
  color: black!important;
  background-color: transparent!important;
  box-shadow: none!important;
}

.rec.rec-arrow{
  background-color: transparent;
  border: none;
  box-shadow: none;
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 1px;
}

.rec.rec-arrow-left{
  padding-right: 10px;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
} 
.rec-dot{
  display: none;
}